<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApiMicrosservicesWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ApiMicrosservicesWeb.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light">
            <div style="padding-left:10%"></div>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo/arches-logo_108x108.jpg" alt="McDonalds" class="img-fluid w-100" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <partial name="_LoginPartial" class="nav-link text-dark  px-3" />
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-dark  px-3" asp-area="" asp-controller="Home" asp-action="Privacy">Careers</a>
                        </li>
                        <li class="nav-item mb-3">
                            <form class="d-flex flex-grow-2 px-3" asp-controller="Products" asp-action="Search" method="get" style="max-width: 250px;">
                                <input class="form-control bar" type="search" placeholder="Search for products" aria-label="Search" name="search" value="@ViewData["search"]">
                            </form>
                        </li>
                         @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Management</a>
                            </li>
                        }
                        <li style="padding-left:7%"></li>
                        <li class="nav-item mb-3">
                            <a class="nav-link text-primary px-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
                               asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="bi bi-geo-alt-fill text-danger"></i> Change your Location
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 btn btn-warning btn-lg size_text_button_layout" asp-area="" asp-controller="Home" asp-action="Privacy">Order Now</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3" style="margin-top:-3%">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li style="padding-left:15%"></li>
                        <li class="nav-item px-3">
                            @* @await Component.InvokeAsync("CategoryMenu") *@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark  px-3" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark  px-3" asp-area="" asp-controller="Home" asp-action="Privacy">Download App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark  px-3" asp-area="" asp-controller="Home" asp-action="Privacy">MyMcDonald's Rewards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark  px-3" asp-area="" asp-controller="Home" asp-action="Privacy">Exclusive Deals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Home" asp-action="Privacy">About Our Food</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Home" asp-action="Privacy">Locate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark px-3" asp-area="" asp-controller="Home" asp-action="Privacy">Gift Cards</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border-0" style="border-radius:10px">
                    <div class="modal-body p-5">
                        <div class="position-absolute top-0 end-0 me-3 mt-3">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h6 class="modal-title" id="exampleModalLabel">Select where you want to receive your purchases</h6>
                        <p style="font-size:12px; color:gray">You’ll be able to see accurate costs and delivery times in everything you look for.</p>
                        <p>Postal Address Code</p>
                        <form class="d-flex mb-3" asp-controller="Address" asp-action="Search" method="get" style="max-width: 250px;">
                            <input class="form-control me-2" type="search" placeholder="Inform zip code" aria-label="Search" name="zipCode" value="@ViewData["zipCode"]">
                            <button class="btn btn-primary btn-sm" type="submit">Search</button>
                        </form>
                        <a href="#">
                            <span style="font-size:15px;font-weight:500">Add full address</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container container_style_footer_layout">
            <div class="row">
                <div class="col-md-1 mt-3"></div>
                <div class="col-3 col-md mt-3 d-none d-md-block">
                    <h6 class="heading-xxs mb-3 mt-3 text-black fw-bold">
                        About Us
                    </h6>
                    <ul class="list-unstyled mb-7 mb-sm-0">
                        <li>
                            <a asp-controller="Account" asp-action="Login">About Us Overview</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Leadership Team</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Values In Action</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Franchise Info</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Recalls & Alerts</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Real Estate</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Accessibility</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Investor Relations</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">News & Notifications</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-md mt-3 d-none d-md-block">
                    <h6 class="heading-xxs  mb-3 mt-3 text-black fw-bold">
                        Services
                    </h6>
                    <ul class="list-unstyled mb-7 mb-sm-0">
                        <li>
                            <a asp-controller="Account" asp-action="Register">Services Overview</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Wi-Fi</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">PlayPlaces & Parties</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">McDelivery®</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Mobile Order & Pay</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Trending Now</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">McDonald’s Merchandise</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Family Fun Hub</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">MyMcDonald's Rewards</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">McCafé®</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-md mt-3 d-none d-md-block">
                    <h6 class="heading-xxs  mb-3 mt-3  text-black fw-bold">
                        Community
                    </h6>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a asp-controller="Account" asp-action="Register">Community Overview</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Now Serving</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">HACER® Scholarships for <br />Hispanic Students</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Ronald McDonald House <br />Charities</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">McDonald’s Asian Pacific <br />American</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">McDonald’s International</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">Black and Positively <br />Golden</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register">McDonald’s LGBTQ+</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-md mt-3 d-none d-md-block">
                    <h6 class="heading-xxs  mb-3 mt-3  text-black fw-bold">
                        Contact Us
                    </h6>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a asp-controller="Contact" asp-action="Contact">Contact Us Overview</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">Gift Card FAQs</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">Donations</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">Employment</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">Customer Feedback</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">Frequently Asked<br /> Questions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="py-5 m-0 p-0">
                <div class="container">
                    <div class="row">
                        <div class="col-auto"></div>
                        <div class="col mb-5">
                            <a href="#" class="px-2"> <img src="~/images/socialnetworks/facebook.png" alt="..."></a>
                            <a href="#" class="px-2"> <img src="~/images/socialnetworks/x.png" alt="..."></a>
                            <a href="#" class="px-2"> <img src="~/images/socialnetworks/youtube.png" alt="..."></a>
                            <a href="#" class="px-2"> <img src="~/images/socialnetworks/instagram.png" alt="..."></a>
                            <a href="#" class="px-2"> <img src="~/images/socialnetworks/tumblr.png" alt="..."></a>
                            <a href="#" class="px-2"> <img src="~/images/socialnetworks/spotify.png" alt="..."></a>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="px-2"> <img src="~/images/badges/app_store_badge.png" alt="..."></a>
                            <a href="#" class="px-2"> <img src="~/images/badges/google_play_badge.png" alt="..."></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="col">
                <p class="fs-xxs text-muted">
                    © 2023 All rights reserved. Designed by Unvab.
                    <a href="https://github.com/rafael-dev2021">
                        <span style="color:blueviolet;font-size:20px"><i class="bi bi-github"></i></span>
                    </a>
                </p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>