<style>

    .style_margin-top_section_home {
        margin-top: 10%;
    }

    .format_text_P_home {
        text-align: justify;
        margin-top: 5%;
    }

    .size_text_footer_P_home {
        font-size: 10px;
    }

    .size_text_button_home {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .style_margin-bottom_section_home {
        margin-bottom: 10%;
    }
</style>
<div class="container px-5 style_margin-top_section_home">
    <div class="row style_margin-bottom_section_home">
        <div class="col-12 col-md-8 mb-3 mb-lg-0">
            <a href="#">
                <img src="~/images/COM_1PUB_KerwinFrost_Meal_2336x1040_1-column-desktop.jpg" class="img-fluid w-100" />
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-lg-0">
            <h1>
                Your Outfit of the Day, Inspired By a McNugget
            </h1>

            <p class="format_text_P_home">
                The Kerwin Frost Box is a collaboration between artist Kerwin Frost and McDonald’s, featuring a cast of new <a href="#">McNugget Buddies</a> collectibles in designer outfits. Plus, order in the app and you can remix a McNugget Buddy outfit of your own. The meal comes with your choice of Big Mac® or 10 pc. Chicken McNuggets®, plus medium Fries + drink and a McNugget Buddy collectible in every box.* Can you collect them all?
            </p>

            <footer>
                <p class="size_text_footer_P_home">
                    *At participating McDonald's for a limited time. While supplies last.
                </p>
            </footer>

            <a href="#" class="btn btn-lg btn-warning">
                <span class="size_text_button_home">Order in the App</span>
            </a>

        </div>
    </div>

    <div class="row style_margin-bottom_section_home">
        <div class="col-12 col-md-8 mb-3 mb-lg-0">
            <a href="#">
                <img src="~/images/1pub_ProjectGator_Crocs_Launch_2336x1040_v2_1-column-desktop.jpg" class="img-fluid w-100" />
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-lg-0">
            <h1>
                Step Into the World of McD’s x Crocs
            </h1>

            <p class="format_text_P_home">
                Get a pair of McDonald’s branded clogs or limited edition Grimace, Birdie or Hamburglar Crocs decked out with fun McDonald’s x Crocs JibbitzTM charms or socks. Hurry, before it’s too late.* In celebration of the Crocs partnership, McDonald’s will be making a donation to <a href="#">Ronald McDonald House Charities®</a> to help support families when they have a child who is ill or injured.
            </p>

            <footer>
                <p class="size_text_footer_P_home">
                    *While supplies last.
                </p>
            </footer>

            <a href="#" class="btn btn-lg btn-warning">
                <span class="size_text_button_home">Shop the collab Now</span>
            </a>

        </div>
    </div>

    <div class="row style_margin-bottom_section_home">
        <div class="col-12 col-md-8 mb-3 mb-lg-0">
            <a href="#">
                <img src="~/images/1pub_FreeLargeFries_2336x1040v24_1-column-desktop.jpg" class="img-fluid w-100" />
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-lg-0">
            <h1>
                Free Large Fries Now. Even More Fries Later.
            </h1>

            <p class="format_text_P_home">
                Download the McDonald’s app and join MyMcDonald’s Rewards to get your free large Fries with $1 minimum purchase.* Plus, when you join MyMcDonald’s Rewards, you start earning points on every eligible order—points you can put towards more free food.
            </p>

            <footer>
                <p class="size_text_footer_P_home">
                    *Offer valid 1x thru the last day of the month for first time app users at participating McDonald's. May take up to 48 hours to appear in your deals. Must opt in to MyMcDonald’s Rewards. Excludes tax.
                </p>
            </footer>

            <a href="#" class="btn btn-lg btn-warning">
                <span class="size_text_button_home">Get Free Fries in the App</span>
            </a>

        </div>
    </div>

    <div class="row style_margin-bottom_section_home">
        <div class="col-12 col-md-8 mb-3 mb-lg-0">
            <a href="#">
                <img src="~/images/1PUB_DigitalExperience_McDelivery_1-column-desktop.jpg" class="img-fluid w-100" />
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-lg-0">
            <h1>
                Score Free Food with McDelivery®
            </h1>

            <p class="format_text_P_home">
                Earn MyMcDonald’s Rewards points on every McDelivery order only in the McD’s app to redeem for free food. And, yup, you can get ‘em delivered, too. Just order, relax and enjoy—<a href="#">check out how easy ordering delivery is in the app.</a>*
            </p>

            <footer>
                <p class="size_text_footer_P_home">
                    *At participating McDonald's. Must be opted into MyMcDonald's Rewards. McDelivery prices may be higher than at restaurants. Delivery/other fees may apply.
                </p>
            </footer>

            <a href="#" class="btn btn-lg btn-warning">
                <span class="size_text_button_home">Earn Points with McDelivery</span>
            </a>

        </div>
    </div>

    <div class="row style_margin-bottom_section_home">
        <div class="col-12 col-md-8 mb-3 mb-lg-0">
            <a href="#">
                <img src="~/images/1PUB_2336x1040-BAPG-Scholars_McD_1-column-desktop.jpg" class="img-fluid w-100" />
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-lg-0">
            <h1>
                Black & Positively Golden® Scholarship
            </h1>

            <p class="format_text_P_home">
                McDonald's partnership with the Thurgood Marshall College Fund is a major investment in education and opportunity in Black communities.
            </p>

            <a href="#" class="btn btn-lg btn-warning">
                <span class="size_text_button_home">Learn More</span>
            </a>

        </div>
    </div>

    <div class="row style_margin-bottom_section_home">
        <div class="col-12 col-md-8 mb-3 mb-lg-0">
            <a href="#">
                <img src="~/images/1PUB_ROA_2336x1040v24_1-column-desktop.jpg" class="img-fluid w-100" />
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-lg-0">
            <h1>
                New: Faster Faves, Only in the App
            </h1>

            <p class="format_text_P_home">
                We now prep when you’re on the way if you choose Curbside, Front Counter—or dine in for Table Service. Just order ahead in the app to save time. Because waiting in line for faves? Not our thing either.*
            </p>

            <footer>
                <p class="size_text_footer_P_home">
                    *At participating McDonald’s.
                </p>
            </footer>

            <a href="#" class="btn btn-lg btn-warning">
                <span class="size_text_button_home">Order Ahead in the App</span>
            </a>

        </div>
    </div>

    <div class="row style_margin-bottom_section_home">
        <div class="col-12 col-md-8 mb-3 mb-lg-0">
            <a href="#">
                <img src="~/images/1PUB_Desktop_Deals_2336x1040_1-column-desktop.jpg" class="img-fluid w-100" />
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-lg-0">
            <h1>
                Deals for Days
            </h1>

            <p class="format_text_P_home">
                Get <a href="#">exclusive deals</a> on your McDonald’s favorites in the app with contactless Mobile Order & Pay* and convenient Drive Thru or Curbside pickup.
            </p>

            <footer>
                <p class="size_text_footer_P_home">
                    *Mobile Order & Pay at participating McDonald’s.
                </p>
            </footer>

            <a href="#" class="btn btn-lg btn-warning">
                <span class="size_text_button_home">Get App Deals</span>
            </a>

        </div>
    </div>
</div>